@use './../../styles/custom_theme' as *;

@use './../../styles/button' as *;

.content{
    padding-top: 8rem;
}

.header{
    font-family: $font-family-secondary;
    font-weight: 400;

    font-size: 1.125rem;

    margin-bottom: 1.125rem;
    @include themify() {
        color: themed($text-secondary) ;
    }
}

.heading {
    font-family: $font-family-primary;

    font-size: 4rem;
    @include themify() {
        color: themed($text-primary) ;
    }

    margin-bottom: 1.125rem;
    .highlighted {
        color: $highlight-secondary !important;
    }
}

.btn_primary{
    @include themify() {
        @include custom_button_primary($highlight-primary, themed($text-primary));
    }

    margin-right: 4rem;
}

