@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&family=Roboto:wght@300;400;700&display=swap');

$highlight-primary: #FCD925;
$highlight-secondary: #F8B129;

$font-family-primary: "Jetbrains Mono";
$font-family-content: "Roboto";
$font-family-secondary: "Fredoka";

$enable-rounded: false;

$text-primary--light: #183153;
$text-secondary--light: #2A4758;

$text-primary--dark: #FAFAFA;
$text-secondary--dark: #EAF0F3;

$background-primary--light: #FAFAFA;
$background-secondary--light: #EAF0F3;

$background-primary--dark: #183153;
$background-secondary--dark: #2A4758;

$background-primary: 'background-primary';
$background-secondary: 'background-secondary';
$text-primary: 'text-primary';
$text-secondary: 'text-secondary';

$themes: (
    light: (
      background-primary: $background-primary--light,
      background-secondary: $background-secondary--light,
      text-primary: $text-primary--light,
      text-secondary: $text-secondary--light,
    ),
    dark: (
      background-primary: $background-primary--dark,
      background-secondary: $background-secondary--dark,
      text-primary: $text-primary--dark,
      text-secondary: $text-secondary--dark,
    ),
);

@mixin themify() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .theme__#{$theme} & {

      // make a class for each theme using interpolation -> #{}
      // use & for making the theme class ancestor of the class
      // from which you use @include theme() {...}
      @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
        @content;    // the content inside @include theme() {...}
        $theme-map: null !global;
    }
    // no use of the variable $theme-map now
    $theme-map: null !global;
  }
}

@function themed($key){
  @return map-get($theme-map, $key);
};

// Import Bootstrap and its default variables
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
