@use './../../styles/custom_theme' as *;

.navbar{
    height: 5rem;
}

.brand{
    padding-left: 0.25rem !important;
}

.logo {
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: 2rem;

    @include themify() {
        color: themed($text-primary) ;
    }

}

.navlink{
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 1rem;
    @include themify() {
        color: themed($text-primary) !important ;
    }
}

.toggle{
    @include themify() {
        color: themed($text-primary) !important ;
    }
}