@use './../../styles/custom_theme' as *;

.navbar{
    height: 5rem;
    top: 0 !important;
}

.brand{
    padding-left: 0.25rem !important;
    font-size: 5rem !important;
}


.navlink{
    font-family: $font-family-primary;
    font-weight: 400 ;
    font-size: 1rem;

    margin-top: 1rem ;
    vertical-align: middle;
    margin-left: 2rem;
    @include themify() {
        color: themed($text-primary) !important ;
    }

    &:hover{
        color: $highlight-secondary !important;
    }
}

.icon_theme_scrolled{
    width: 100%;
    height: 1.25rem;

    margin-top: -1rem ;

    @include themify() {
        fill: themed($text-primary) !important ;
    }

    &:hover{
        fill: $highlight-secondary !important;
    }
}

.icon_theme{
    width: 100%;
    height: 1.5rem;


    @include themify() {
        fill: themed($text-primary) !important ;
    }

    &:hover{
        fill: $highlight-secondary !important;
    }
}

.toggle{
    @include themify() {
        color: themed($text-primary) !important ;
    }
}